/*
-------Reset----------
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
input,
button,
textarea,
select,
header,
main,
footer,
section {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
----------Base-------------
*/

body {
  font-weight: 400;
  line-height: 1;
  height: 100%;
}

body .locked {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authorization {
  background-color: #282828;
  font-family: "Helvetica Neue Cyr";
  font-size: 19px;
}

.authorization__wrapper {
  max-width: 1739px;
  padding: 0 15px;
  margin: 136px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*
----------Global-------------
*/

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  font-family: Helvetica, serif;
  font-size: 19px;
  color: #ffffff;
  padding: 20px 52px;
  border-radius: 15px;
  background-image: -o-linear-gradient(124deg, #ffffff 0%, #ffffff 0%, #51e7cc 0%, #37ad9d 100%);
  background-image: linear-gradient(-34deg, #ffffff 0%, #ffffff 0%, #51e7cc 0%, #37ad9d 100%);
}

/*
---------Header-----------
*/

.header__fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu__link {
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 73px 1fr auto;
  grid-template-columns: 73px 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu__link {
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__burger {
  display: none;
}

/*
---------Main-----------
*/

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*
---------Authorization-----------
*/

.authorization__content {
  margin-top: 87px;
}

.authorization__logo {
  display: inline-block;
}

.authorization__logo:not(:last-child) {
  margin-bottom: 80px;
}

.authorization__title {
  font-family: Helvetica, serif;
  font-size: 42px;
  color: #fff;
}

.authorization__title:not(:last-child) {
  margin-bottom: 22px;
}

.authorization__desc {
  color: #868686;
  font-size: 18px;
}

.authorization__desc:not(:last-child) {
  margin-bottom: 64px;
}

.authorization__desc a {
  color: #35baa6;
}

.authorization__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authorization__col + .authorization__col {
  margin-top: 37px;
}

.authorization__label {
  color: #868686;
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorization__label a {
  color: rgb(55, 177, 160);
}

.authorization__input {
  border: 1px solid rgb(55, 177, 160);
  border-radius: 15px;
  padding: 22px;
  font-size: 19px;
  color: #efefef;
  background-color: transparent;
  width: 100%;
}

.authorization__btn {
  margin-top: 32px;
}

/*
---------Footer-----------
*/

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .menu__item + .menu__item {
    margin-left: 30;
  }

  .menu__link {
    font-size: 0.9375rem;
  }

  .menu__item + .menu__item {
    margin-left: 30;
  }

  .menu__link {
    font-size: 0.9375rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1500px) {
  .authorization__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu--active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item + .menu__item {
    margin-top: 20px;
  }

  .menu__link {
    font-size: 1.5625rem;
  }

  .menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu--active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .menu__item + .menu__item {
    margin-top: 20px;
  }

  .menu__link {
    font-size: 1.5625rem;
  }

  .header__burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    cursor: pointer;
    border: 0;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__burger:after {
    top: 0;
  }

  .header__burger::before {
    bottom: 7px;
  }

  .header__burger--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }

  .header__burger--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0;
  }

  .header__burger--active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}